<%= form_for @subject do |f| %>
<table>
  <tr>
    <th>name</th>
    <td> <%= f.text_field :name %> </td>
  </tr>
  <tr>
    <th>position</th>
    <td> <%= f.text_field :position %> </td>
  </tr>
  <tr>
    <th>visible</th>
    <td> <%= f.text_field :visble %> </td>
  </tr>
</table>
  <%= f.submit "Create new subject" %>
<% end %>
