<h1><%= @subject.name %></h1>
<%= link_to("Return to main navigation", subjects_path) %>
<br>

<%= form_for @subject do |f| %>
<table>
  <tr>
    <th>name</th>
    <td> <%= f.text_field :name %> </td>
  </tr>
  <tr>
    <th>position</th>
    <td> <%= f.text_field :position %> </td>
  </tr>
  <tr>
    <th>visible</th>
    <td> <%= f.text_field :visble %> </td>
  </tr>
</table>
<% end %>
